# Documentation and reports
*.md
*.txt
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.rtf
*.tex
*.rst
*.org
*.wiki
*.html
*.htm
*.xml
*.json
*.yaml
*.yml
*.toml
*.cfg
*.conf
*.ini
*.properties
*.env
*.env.*
!.env
!.env.*
.envrc
.gitignore
.gitattributes
.editorconfig
.pre-commit-config.yaml
.flake8
.isort.cfg
.black
.mypy.ini
.pylintrc
pytest.ini
tox.ini
setup.cfg
MANIFEST.in
requirements.txt
Pipfile
Pipfile.lock
poetry.lock
Cargo.toml
Cargo.lock
package.json
package-lock.json
yarn.lock
Gemfile
Gemfile.lock
composer.json
composer.lock
go.mod
go.sum
*.md
PHASE7_SUMMARY.md
PHASE8_SUMMARY.md
PROJECT_COMPLETION_REPORT.md